@using WeatherApp.Shared.Models;

@page "/SelectLocation"

<div class="d-flex flex-column flex-grow-1">
	<h3>Select your location:</h3>


	@(cities.Count > 0 ? cities[0].CountryCode : "null")

	<div class="selectLocation d-flex flex-grow-1 border border-primary">
		<div class="d-flex justify-content-around flex-grow-1">
			<GeocoderComponent @bind-Cities="cities"></GeocoderComponent>
			<VerticalDivider />
			<CascadingValue Value="@cities" Name="Cities">
				<LocationPreviewComponent></LocationPreviewComponent>
			</CascadingValue>
		</div>0000000000000000000000
	</div>
</div>




@code {
	private List<Location> cities = new();
}
