@using WeatherApp.Shared.Models;

@page "/SelectLocation"

<div class="container d-flex flex-column h-100 p-3 ">
	<h3>Select your location:</h3>
	<div class="container d-flex border border-primary flex-grow-1">
		<div class="d-flex justify-content-around flex-grow-1">
			<GeocoderComponent @bind-Cities="cities"></GeocoderComponent>
			<VerticalDivider />
			<CascadingValue Value="@cities" Name="Cities">
				<LocationPreviewComponent></LocationPreviewComponent>
			</CascadingValue>
		</div>
	</div>
</div>




@code {
	private List<Location> cities = new();
}
