@page "/weather"

@using Microsoft.AspNetCore.WebUtilities
@using WeatherApp.Client.Services;
@using WeatherApp.Shared.Models
@using WeatherApp.Shared.OpenWeatherAPIParser;
@inject NavigationManager _navManager
@inject HttpClient _http


<h3>Weather</h3>
<div>

</div>


@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "lat")]
    public double Latitude { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "lon")]
    public double Longitude { get; set; }


    protected override async Task OnInitializedAsync()
    {
        string forecastJson = await this.GetForecast();
        this.Forecast = OpenWeatherParser.ParseOneCallForecast(forecastJson);
        StateHasChanged();
    }
}
