@page "/weather"

@using Microsoft.AspNetCore.WebUtilities
@using WeatherApp.Shared.Models
@inject NavigationManager _navManager


<h3>Weather</h3>
@(Latitude)
@(Longitude)
<div>

</div>


@code {
	[Parameter]
	[SupplyParameterFromQuery(Name = "lat")]
	public double Latitude { get; set; }

	[Parameter]
	[SupplyParameterFromQuery(Name = "lon")]
	public double Longitude { get; set; }


}
