@inherits LayoutComponentBase

<div class="page h-100">
    <div class="sidebar h-100">
        <NavMenu />
    </div>
    <main class="h-100 bg-b">
        <article class="content d-flex p-0 h-100">
            @Body
        </article>
    </main>
</div>
