@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <!--
        <div class="top-row px-4">
            <a href="htt -->

        <article class="content d-flex px-4 border border-5 border-warning">
            @Body
        </article>
    </main>
</div>
